/* Color Theme Swatches in Hex */
$color-1: #363540;
$color-2: #161C26;
$color-3: #F2C849;
$color-4: #BF8F73;
$color-5: #D9483B;
$color-6: #D4D4D4;

$bg-color: $color-2;
$text-color: $color-6;

// Spacing
$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 48px;
$space-6: 64px;

// Typography
$font-mono: 'Red Hat Mono', monospace;

// Borders
$border-radius-sm: 4px;